{%for env in environments %}
{{ client_code }}_{{ env }}:
  hosts:
{%- set instances = instances | selectattr("env", "equalto", env) %}
{%- for instance in instances %}
    {{ instance.get_name().replace('-', '_') }}:
      ansible_host: {{ instance.get_ip_address() }}
      apps: {{ instance.get_apps() }}
{% endfor %}
{% endfor %}

{{ client_code }}_lower:
  children:
  {%- for env in environments %}
    {{ client_code }}_{{ env }}:
  {%- endfor %}
  vars:
    ansible_ssh_private_key_file: {{ ssh_private_key_file_path }}
    aws_profile: {{ client_account_aws_profile }}