{% set collation = "&characterEncoding=latin1&connectionCollation=latin1_swedish_ci" if collation else "" %}
import groovy.json.JsonOutput
import com.google.gson.Gson

def dbURL = "jdbc:mysql://{{ database.hostname }}/{{ database_schema }}?noAccessToProcedureBodies=true&useSSL=false&zeroDateTimeBehavior=convertToNull{{ collation }}"
def dbUser = "{{ database.username }}"
def dbPwd = "{{ database.password }}"

def useSSO = (System.properties["useSSO"] == "true") ? true : false

mail.error.subject = '[LOM Error: {{ client|upper }}-{{ env|upper }}]'
multipleLogins.allow = true

dataSource {
    url = dbURL
    username = dbUser
    password = dbPwd
}

lendingComponents.rules.filename = "latest"
lendingComponents.datasource.url = dbURL
lendingComponents.datasource.username = dbUser
lendingComponents.datasource.password = dbPwd

crm.cocRequired = "N"

fee.service.autoprocess.canshopfees.enabled = true

log4j.main = {
    environments {
        production {
            root {
                info 'stdout', 'rollingFile'
                error 'smtp'
            }

            debug   'grails.app.controllers',
                   'grails.app.services',
                   'grails.app.conf.BootStrap',
                   'com.bluesage',
                   'lendingplatform',
                   'com.bss'
        }
    }
}


fullstory.enabled = false