[Unit]
Description=Start Lending Platform HIP server
After=network.target

[Service]
ExecStart=/opt/bin/hip/hip.sh
KillSignal=SIGKILL

[Install]
WantedBy=multi-user.target