[Unit]
Description=Start Hydra server
After=network.target

[Service]
ExecStart=/opt/bin/hydra/hydra.sh
KillSignal=SIGKILL
KillMode=mixed

[Install]
WantedBy=multi-user.target